@{
	Layout = null;
}
@{Info.Löschen();}
<h2> Die kranke Person wird behandelt</h2>

@Info.p.name


<div>-------------------------------------</div>
<a asp-action="Index1"> nächste Patienten </a><br />

<br/>

<a asp-action="Index5"> WarteZimmer </a>
<br />

 



<div class="">

    <img class= src="~/css/zuruck.png" width="20" height="20" />
    <a asp-action="Index"> Hauptmenü </a>

</div>