@{
	Layout = null;
}
@{Info.Löschen();}
<h2> Die kranke Person wird behandelt</h2>
@Info.p.name
<div>-------------------------------------</div>
<a asp-action="Index1"> nächste Patienten </a><br />

<br/>
 


<a asp-action="Index"> Hauptmenü </a><br />
