@{
    Layout=null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"   content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
    

</head>
<body>
    <div class="text-center m-2">
    <h2>Electronic Patient Monitoring System</h2>
    </div>
    <div class="">

        <img class= src="~/css/arzt.webp" width="200" height="200" />

    </div>
    <a asp-action="Index6"> Arzt-Kontrollsystem </a>
    <div class="">

        <img class= src="~/css/helfer.png" width="200" height="200" />

    </div>
    
    <br />
    <a asp-action="Index2"> Patientendatensystem für Arzthelferinnen </a>

</body>
</html>