@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>


</head>
<body>
    <br/>
    <br />
    <br />

    
    <br />
  
    
    <div class="">
        <img class= src="~/css/helfer.png" width="200" height="200" />
        <a asp-action="Index1"><h2> Nächster Patient </h2></a>
        

    </div>
    <br />
    <br />
    
    

    <div class="">

        <img class= src="~/css/wartezimmer.jpg" width="200" height="200" />
        <a asp-action="Index5"> <h2>Wartezimmer</h2> </a>
       

    </div>
    <br />
    <br />
    <br />
    <br />
    <a asp-action="Index7"> Behandelte Patienten </a>

    <div class="">

        <img class= src="~/css/zuruck.png" width="20" height="20" />
        <a asp-action="Index"> Hauptmenü </a>

    </div>
    

    
    
    

</body>
</html>
